<footer class="bg-graphite-dark text-white text-center py-4">
  <div class="container">
    <p href="" class="text-small">
      Copyright &copy; 2016 - 2020, Sudocore - All Rights Reserved
    </p>
    <p href="" class="text-small text-white">
      Sudocore is a program of
      <a href="https://diesmo5.com" target="_blank" class="text-white">
        diesmo<i>5</i>, Inc.
      </a>
    </p>
    <p href="" class="text-small">
      Sudocore is an free open source project built on top of the Bootstrap
      Framework built by High School Students from Rancho Campana High School
    </p>
  </div>
</footer>
