<div class="py-4">
  <form name="contact" method="POST" data-netlify="true">
    <h1 class="display-4 font-weight-bold text-uppercase text-white mb-5">
      Sudocore Pro is <br />
      coming soon...
    </h1>
    <input
      placeholder="email address"
      type="email"
      name="email"
      class="w-100 rounded-top p-4"
    />
    <button
      type="submit"
      class="btn btn-block btn-graphite rounded-bottom text-uppercase font-weight-bold p-4"
    >
      Sign Up
    </button>
  </form>
</div>
